<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602279951968-5vkql57ihr7h4pgh8ihoc4ahmq8iml78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602279951968-5vkql57ihr7h4pgh8ihoc4ahmq8iml78</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>602279951968-14a8ri47u3lnr7oprh4h878o3ioa82us.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCpFatGLoioZHosZHFwYADtsvT5gUg5kw8</string>
	<key>GCM_SENDER_ID</key>
	<string>602279951968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wsm9175.flutter.hereAdmin</string>
	<key>PROJECT_ID</key>
	<string>here-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>here-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602279951968:ios:25b8e606e4b6445e420d05</string>
	<key>DATABASE_URL</key>
	<string>https://here-flutter-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>